  .hero {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #eddafc;
  }
  
  .hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .blog-carousel {
    padding: 2rem;
  }
  
  .carousel {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
  }
  
  .card-blog {
    flex: 0 0 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
  }
  
  .card-blog img {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .card-blog:hover{
    cursor: url('../imgs/HuellitaPet.png') default;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(211, 178, 238, 0.918);
  }
  
  .card-blog h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card-blog p {
    color: #555;
    margin-bottom: 1rem;
  }
  
  .card-blog a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  
  